#spinner-container {
  position: fixed;
  width: 100%;
  text-align: center;
  background: transparent;
  top: 0;
}

#spinner {
  height: 100px;
}

#active {
  width: 100%;
  background: linear-gradient(red, blue);
  height: 600px;
  margin-top: 1000px;
  margin-bottom: 2000px;
}
